---
import Base from "../layouts/Base.astro";
const pageTitle = "É. Urcades";
---

<Base pageTitle={pageTitle}>
  <p>
    <a href="https://floral.computer">Meaning Alignment Institute</a>
  </p>
  <p>Everybody deserves a new computer.</p>
  <p class="pt-6">~</p>
  <p><a href="/writing/">Writing</a></p>
  <p><a href="/work/">Recent Works</a></p>
  <p><a href="/about/">About Me</a></p>
</Base>
