---
import Base from "../layouts/Base.astro";
import Sketch from "../components/Sketch.astro";
import PostCard from "../components/PostCard.astro";
const pageTitle = "É. Urcades: Work";
---

<style>
  .sketches {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  @media (min-width: 768px) {
    .sketches {
      justify-content: flex-start;
    }
  }
</style>

<Base pageTitle={pageTitle}>
  <h1>2024</h1>
  <section class="sketches">
    <PostCard imageUrl="https://d2w9rnfcy7mm78.cloudfront.net/27471365/original_f01f6ecabe6dc320c1e0deba1ed7a1e3.jpg" title="Dia" category="Product Design" url="https://www.floral.computer/" size="1" />

    <Sketch imageUrl="https://d2w9rnfcy7mm78.cloudfront.net/27304470/original_518bf14f0482b3a140035eab66a7f74d.png" title="Sticker" category="Ephemera" />
    <Sketch imageUrl="https://d2w9rnfcy7mm78.cloudfront.net/25878627/original_c732003ccfc2de6b8eb03c0683288b50.png" title="Tlon.app" category="Mobile App" url="https://apps.apple.com/us/app/tlon-the-urbit-app/id6451392109" />
    <Sketch imageUrl="https://d2w9rnfcy7mm78.cloudfront.net/24107584/original_9b782bab4052b8da82d611f5289fdee2.jpg" title="Tlon.app" category="Mobile App" url="https://apps.apple.com/us/app/tlon-the-urbit-app/id6451392109" />
    <Sketch imageUrl="https://d2w9rnfcy7mm78.cloudfront.net/19953187/original_0ad3ba41d8cb2c62c4a0854b2406a13c.png" title='"Within Genetics" Cover Art' category="Graphic Design" url="https://flowerstructure.bandcamp.com/album/within-genetics" />
  </section>

  <h1>2023</h1>
</Base>
